// General
$white: #fff; // 255,255,255
$black: #000; // 0,0,0
$gray: #999;

// Scaffolding
$font-family-base: Helvetica, Arial, sans-serif !default;
$font-size-base: 16px !default;
$line-height-base: 1 !default;
$font-weight-base: normal !default;
$text-color: $black !default;
$body-bg: $gray !default;
$text-selection-bg-color: #b3d4fc;
$link-color: $white;
$link-hover-color: $white;

// Layouts
$container-width: 992px !default;

// Type
$font-family-regular: "Roboto", Helvetica, Arial, sans-serif !default;
